<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="container">
        <div id="mdiv">
            <form action="handle_reg_form" method="post">
                <tr>
                    <label for="">Name*</label><br>
                    <th><input type="text" placeholder="first" id="dob" required></th>
                </tr>
                <tr>
                    <th><input type="text" placeholder="first" id="dob"></th>
                </tr>
                <br>
                <tr>
                    <label for="">date of birth </label><br>
                    <th><input type="date" placeholder="MM/DD/YYYY" id="dob1"></th>
                </tr>

                <tr><br>
                    <label for="">Email</label> <br>
                    <th><input type="text" placeholder="first" id="dob1"></th>
                </tr>

                <tr><br>
                    <label for="">Fathers name</label><br>
                    <th><input type="text" placeholder="first" id="dob"></th>
                </tr>
                <tr>
                    <th><input type="text" placeholder="first" id="dob"></th>
                </tr>

                <tr><br>
                    <label for="">Mother's name</label><br>
                    <th><input type="text" placeholder="first" id="dob"></th>
                </tr>
                <tr>
                    <th><input type="text" placeholder="first" id="dob"></th>
                </tr>
                <br>
                <tr>
                    <label>Gender</label><br>
                    <input type="radio">M <br></ber><input type="radio">L
                </tr>
                <br>
                <tr>
                    <label>Nationlity</label><br>
                    <input type="text" id="dob1">
                </tr>

                <tr> <br>
                    <label>Home Adress</label><br>
                    <input type="text" placeholder="Street Adress" id="dob1">
                </tr>

                <tr><br><br>
                    <th><input type="text" placeholder="city" id="dob"></th>
                </tr>
                <tr>
                    <select id="select">
                        <option>country</option>
                        <option>india</option>
                        <option>pakistan</option>
                        <option>afganistan</option>
                        <option>america</option>

                    </select>
                </tr>

                <tr><br>
                    <label>Telephone-Home</label><br>
                    <input type="text" id="dob1" placeholder="### ### ####">
                </tr>

                <tr><br>
                    <label>Telephone-Mobile</label><br>
                    <input type="text" id="dob1" placeholder="### ### ####">
                </tr>

                <button type="submit">submit</button>
            </form>
        </div>
    </div>
</body>

</html>